a{
    display: block;
}


.obj-center{
    align-items: center;
    justify-content: center;
}

.bt{
    font-family: Blern;
}

//font-size//
.fz-1{
    font-size: 0.25rem;
}
.fz-2{
    font-size: 0.5rem;
}
.fz-3{
    font-size: 0.75rem;
}
.fz-4{
    font-size: 1rem;
}
.fz-5{
    font-size: 1.25rem;
}
.fz-6{
    font-size: 1.75rem;
}
.fz-7{
    font-size: 2rem;
}
